<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
url('<%= cl_image_path cocktail_image(cocktail), height: 300, width: 400, crop: :fill %>')">
  <div class="card-category">Cage for days</div>
  <div class="card-description">
    <h2><%= cocktail.name %></h2>
  </div>
  <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
</div>
